.cbp-hrmenu {
	width: 100%;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #47a3da;
}
/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	z-index: 9999;
	position: absolute;
	background: #fff;
	width: 960px;
	left: -192px;
	top: 59px;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 25%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}
.cbp-hrmenu .cbp-hrsub-inner > div ul li {
	display: block;
}
.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	padding: 0 !important;
	color: #808080 !important;
}
.cbp-hrmenu .cbp-hrsub-inner > div a:hover {
	padding: 0 !important;
	background-color: inherit !important;
	text-decoration: underline !important;
	color: #83C3EF !important;
}
.cbp-hrsub {
	padding: 20px 0;
}
.cbp-hrsub h4 {
	color: #275DBE;
	margin: 0;
	font-size: 140%;
	font-weight: 400;
	border-bottom: 1px dotted #E9E9E9;
	padding-bottom: 4px;
	margin-bottom: 6px;
	text-transform: uppercase;
}


